.form{width: 550px;
    border: 3px solid;
border-radius: 20px;

padding: 10px;
margin-bottom: 10px;

display: flex;
flex-direction: column;
padding-top: 10px;}

.text{ font-size: 20px;
    margin-bottom: 10px;}

    .field{height: 40px;
        width: 100%;
    font-size: 20px;
    border: 3px solid;
    border-radius: 5px;
    }
.formButton{margin-top: 10px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    align-items: stretch;}

.error{color: red;}