.form {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.label {
	display: flex;
	flex-direction: column;
}
.error {
	color: rgba(223, 19, 19, 0.856);
}

.button {
	width: 100px;
}